name: Customers Service CI Docker

on:
  push:
    branches:
      - develop
      - main
      - feature/*
      - release/*
      - hotfix/*
    paths:
      - "ms-customers/**"
      - ".github/workflows/customers-service-docker.yml"

  pull_request:
    branches:
      - develop
      - main
      - feature/*
      - release/*
      - hotfix/*
    paths:
      - "ms-customers/**"
      - ".github/workflows/customers-service-docker.yml"

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: | 
        docker build ./ms-customers \
          --file ./ms-customers/Dockerfile \
          --tag my-image-name:$(date +%s)
