name: Customers Service CI

on:
  push:
    branches:
      - develop
      - main
      - feature/*
      - release/*
      - hotfix/*
    paths:
      - "ms-customers/**"
      - ".github/workflows/customers-service.yml"

  pull_request:
    branches:
      - develop
      - main
      - feature/*
      - release/*
      - hotfix/*
    paths:
      - "ms-customers/**"
      - ".github/workflows/customers-service.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ms-customers

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test
